<!DOCTYPE html>
<html>
<head>
	<title>Calculator</title>
</head>
<body>
<div>
	<p>Distance</p>
	
	<form>
		client: <input type="text" name="add1">
		address1: <input type="text" name="add1">
		address2: <input type="text" name="add2">
		Distance: <input type="text" name="">
		<input type="submit" name="Calculate">	
	</form>

	<ul>
		<li><a href="#car">med bill</a></li>
		<li><a href="#public">Kollektivtrafik</a></li>
		<li><a href="#foot">till fots</a></li>
		<li><a href="#cycle">cykel</a></li>

	</ul>
</div>
</body>
</html>